.mainCont{
    height: 74px;
    margin-left: 2%;
    width:80%;
    border: 0 10px 0 0 solid black 1px;
    overflow: hidden;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    border-radius:17.5px;
    background-color: rgb(223, 114, 114);
    margin-bottom: 1%;
}
.image{
    height: 100%;
    width: 10%;
    float: left;
    position: absolute;
    margin-top:.2%;
    padding-left: .5%;
    
}

.image-col{
    height: 19%;
}
.img{
    height: 40px;
}

.messages {
    height: 100%;
    width: 52%;
    float: left;
    position: absolute;
    margin-left: 28%;
    white-space: nowrap;
    color:black;
}
.text{
    padding-top: 5.5%;
    font-size: 20px;
    font-weight: bold;
}

.messageBtn{
    height: 100%;
    width: 30%;
    float: left;
    position: absolute;
    text-align: center;
    margin-left: 75.5%;
}

.button-message{
    height: 73px;
    width: 202px;
}

.btnText{
    margin-top:10.5%;
    font-family: Arial;
}