.mainCont{
    height: 76px;
    margin-left: 2%;
    width:95%;
    border: 0 10px 0 0;
    border: solid black 3px;
    overflow: hidden;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    border-radius:17.5px;
    background-color: white;
    margin-bottom: 1.5%;
}

.image{
    height: 100%;
    width: 10%;
    float: left;
    position: absolute;
    margin-top:.2%;
    padding-left: .5%;
    
}

.image-col{
    height: 19%;
}
.img{
    height: 40px;
}

.messages{
    height: 100%;
    width: 52%;
    float: left;
    /* position: absolute;  */
    margin-left: 28%; 
    text-align: center;
    white-space: nowrap;
    color:black;
}

.text{
    padding-top: 8%;
    font-size: 22px;
    font-weight: 450;
}

.messageBtn{
    height: 100%;
    width: 30%;
    float: left;
    position: absolute;
    text-align: center;
    margin-left: 73%;
}

.button-message{
    flex-wrap: nowrap;
    height: 50px;
    width: 202px;
    float: left;
    position: absolute;
}

.btnText{
    margin-top:7.5%;
    font-family: Arial;
    /* background-color: black; */
    width: 80%;
    font-size: 20px;
}