.matchbtn{
    height: 100px;
    width: 500px;
    border: 1px solid black;
    float: right;
    margin-top: 50px;
    margin-right: 100px;
    border-radius: 10px;
    font-size: 25px;
    background-color: rgb(227, 227, 230);
}

.messagebutton{
    height: 73px;
    width: 228px;
    border-radius:0 17.5px 17.5px 0;
    background-color: #8ABAD3FF;
}

.appbtnblue{
    height: 50px;
    width: 160px;
    border: 1px solid black;
    float: right;
    margin-top: 50px;
    /* margin-bottom: 50px; */
    /* margin-left: 50px; */
    margin-right: 20px;
    border-radius: 10px;
    font-size: 20px;
    font-weight: bold;
    background-color: #8ABAD3FF;
}

.appbtnpink{
    height: 50px;
    width: 160px;
    border: 1px solid black;
    float: right;
    margin-top: 50px;
    /* margin-bottom: 50px; */
    /* margin-left: 50px; */
    margin-right: 40px;
    border-radius: 10px;
    font-size: 20px;
    font-weight: bold;
    background-color:pink;
}
.editProfile{
    height: 50px;
    width: 160px;
    border: 1px solid black;
    float: right;
    margin-top: 9.5%;
    font-size: 20px;
    font-weight: bold;
    background-color:rgb(232, 86, 86);
    color:white;
}


.LoginModalButton{
        border: none;
        display: inline-block;
        padding: 8px 16px;
        vertical-align: middle;
        overflow: hidden;
        text-decoration: none;
        color: inherit;
        background-color: inherit;
        text-align: center;
        cursor: pointer;
        white-space: nowrap
      }

      .signUpButton{
        height:40px;
        width:130px;
        border:1px solid black;
        float:right;
        font-size:20px;
        margin-right:.2%;
        margin-top:.28%;
        font-weight:bold;
        color:black;
        background-color:white;
      }
      .homeButton{
        height:40px;
        width:130px;
        border:1px solid black;
        margin-left: .5%;
        float:left;
        font-size:20px;
        margin-right:.2%;
        margin-top:.28%;
        font-weight:bold;
        color:black;
        background-color:white;
      }
      .Signuphome{
        height:40px;
        width:130px;
        border:1px solid black;
        float:right;
        font-size:20px;
        margin-right:.4%;
        margin-top:.28%;
        font-weight:bold;
        color:black;
        background-color:white;
      }
      .abtUs{
        height:40px;
        width:130px;
        border:1px solid black;
        float:left;
        font-size:20px;
        margin-left:.3%;
        margin-top:.28%;
        font-weight:bold;
        color:black;
        background-color:white;
      }




/* .pinkbtn{
    background-color:pink; */
/* } */