.matchbtn{
    height: 100px;
    width: 500px;
    border: 1px solid black;
    float: right;
    margin-top: 50px;
    margin-right: 100px;
    border-radius: 10px;
    font-size: 25px;
    background-color: rgb(121, 163, 255);
}

.messagebutton{
    height: 73px;
    width: 228px;
    border-radius:0 17.5px 17.5px 0;
    background-color: #8ABAD3FF;
}

.appbtnblue{
    height: 50px;
    width: 160px;
    border: 1px solid black;
    float: right;
    margin-top: .5%;
    margin-right: 1%;
    border-radius: 10px;
    font-size: 20px;
    font-weight: bold;
    background-color: #8ABAD3FF;
}

.appbtnpink{
    height: 50px;
    width: 160px;
    border: 1px solid black;
    float: right;
    margin-top: .5%;
    margin-right: 1%;
    border-radius: 10px;
    font-size: 20px;
    font-weight: bold;
    background-color:pink;
}

.LoginModalButton{
        border: none;
        display: inline-block;
        padding: 8px 16px;
        vertical-align: middle;
        overflow: hidden;
        text-decoration: none;
        color: inherit;
        background-color: inherit;
        text-align: center;
        cursor: pointer;
        white-space: nowrap
      }
      
      .topright {
        position: absolute;
        right: 0;
        top: 0
      }

