.btn-danger{
    height: 95px;
    width: 95px;
    border: solid black 1px;
    position: relative;
    margin-top: 65%;
    margin-right: 23%;
    }
    .btn-success{
        height: 95px;
        width: 95px;
        border: solid black 1px;
        position: relative;
        margin-top: 65%;
        margin-left: 64%;

    }
    .arrow-right {
        border-right: 10px solid; 
        border-bottom: 10px solid;
        height: 30px;
        width: 30px;
        transform: rotate(-45deg); 
        margin-left: 20%;
    }
    .arrow-left {
        border-right: 10px solid; 
        border-bottom: 10px solid;
        height: 30px;
        width: 30px;
        transform: rotate(135deg);
        margin-left: 28%;
    }