.profDetails{
    border: solid 1px black;
    padding: 5px;
    height: 450px;
    background-color: white;
    width:100%;
    margin-left: 11.5%;
}

.profDetails > .content {
    padding: 1.75%;
    color:black;
    font-weight: bolder;
}

/* .profDetails > .content > h4{
padding-top: 5%;
} */

.line{
    border: solid black 1px;
}

