
.userDetails, .petDetails, .loginDetails {
    border: solid 1px black;
    border-radius: 10px;
    padding: 5px;
    margin-top: 7%;
    margin-bottom: 7%;
}

.userDetails, .petDetails {
    width:80%;
    margin-left: 10%;
    margin-right: 10%;
}

.loginDetails {
    width:60%;
    margin-left: 20%;
    margin-right: 20%;
}

.userDetails, .loginDetails{
    background-color: pink;
}

.petDetails{
    background-color: #8ABAD3FF;
}

.userDetails > .content {
    padding: 15px;
    color:black;
    padding-top: 15px;
}

.petDetails > .content {
    padding: 15px;
    color:black;
    padding-top: 15px;
}

.loginDetails > .content {
    padding: 15px;
    color:black;
    padding-top: 15px;
}

 .my-modal .modal-content {
    background-image: url("../dogsworld2.jpg");
    background-color:rgb(247, 230, 230);
    background-blend-mode: lighten;
  }

  .login-modal .modal-content{
    background-image: url("../dogsworld2.jpg");
    background-color:rgb(247, 230, 230);
    background-blend-mode: lighten;
  }
  
.body {
	background: url('https://thefreshtoast.com/wp-content/uploads/2017/02/10-reasons-why-your-dog-is-the-ideal-valentines-date.jpg');
    background-size: cover;
}

.shader {
  background-color: rgb(254, 254, 254);
  background-color: rgba(254, 254, 254, 0.85);
  padding: 15px;
  margin-left: -15px;
  border-radius: 5px;
}