.userDetails, .petDetails, .loginDetails {
    border: solid 1px black;
    padding: 5px;
    margin-top: 2%;
}

.userDetails, .petDetails {
    width:80%;
    margin-left: 10%;
    margin-right: 10%;
}

.loginDetails {
    width:60%;
    margin-left: 20%;
    margin-right: 20%;
}

.userDetails, .loginDetails{
    background-color: white;
}

.petDetails{
    background-color: white;
    margin-bottom: 5%;
}

.userDetails > .content {
    padding: 15px;
    color:black;
    padding-top: 15px;
}

.petDetails > .content {
    padding: 15px;
    color:black;
    padding-top: 15px;
}

.loginDetails > .content {
    padding: 15px;
    color:black;
    padding-top: 15px;
}

 .my-modal .modal-content {
    background-image: url("./images/dog-world-2.png");
    background-color:rgb(232, 86, 86);
    background-blend-mode: hard-light;
    height: 378px;
  }

  .login-modal .modal-content{
    background-image: url("./images/dog-world-2.png");
    background-color:rgb(232, 86, 86);
    background-blend-mode: hard-light;
  }
  
.login-content {
  background-color: rgb(255, 255, 255);
  padding: 15px;
  margin-left: -15px;
  border-radius: 0 10px 10px 0;
}
.login-page-content{
    background-color:rgb(232, 86, 86) ;
}
.aboutUs-page-content{
    background-color:rgb(232, 86, 86) ;
}

.login-image{
    height: 650px;
}

.container-1{
    height: 100%;
    width:100%;
}

.login-text{
    margin-left: 4%;
}