.header{
    border:solid black 1px;
    height: 145px;
    width:99%;
    background: rgb(200,104,116);
    background: linear-gradient(0deg, rgba(200,104,116,1) 25%, rgba(245,75,103,1) 80%);
    text-align:center;
    font-family: 'Crimson Text', serif;
    display: flex;
  }
  .title{
    position: absolute;
    margin-left: 42%;
    margin-top: 3.5%;
  }
  .header-text{
    color: rgb(54, 54, 54);
    font-size: 65px;
  }
  .pic{
    height: 100px;
    width: 100px;
  }
  
  .picDiv{
    margin-top: 2%;
    margin-left: 2%;
    position: absolute;
  }
  
  .picDivTwo{
    margin-top: 2%;
    margin-left: 93%;
    position: absolute;
  }