.header{
  height: 210px;
  width:99%;
  background-color: white;
  text-align:center;
  font-family: 'Poppins', sans-serif;
  display: flex;
  background-image: url('./images//Simple\ Quote\ Pink\ Tumblr\ Banner\ \(4\)\ 2\ copy.png');
  padding-right: 50%;
}
/* .title{
  position: absolute;
  margin-left: 34.5%;
  margin-top: 2%;
  font-size: 70px;
  color: rgb(245, 42, 42);
} */
.pic{
  height: 100px;
  width: 100px;
}

.picDiv{
  margin-top: 1%;
  margin-left: 31%;
  position: absolute;
}

/* .picDivTwo{
  margin-top: 2%;
  margin-left: 93%;
  position: absolute;
} */