/* Navbar container */
.navbar {
  overflow: hidden;
  background-color: rgb(232, 86, 86);
  font-family: Arial;
  height: 50px;
  margin-bottom: 4%;
  width: 100%;
}
/* .navbarMain{
  overflow: hidden;
  background-color: rgb(232, 86, 86);
  font-family: Arial;
  height: 50px;
  margin-bottom: 4%;
  width: 100%;
} */
.nav-content{
align-content: space-between;
}

.nav-content:hover{
  color: pink;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

.title{
  text-align: center;
  margin-bottom: 1%;
  font-size: 50px;
  font-weight: bold;
}


/* ------------------------------------- */
.navbar-login {
  overflow: hidden;
  background-color: white;
  height: 50px;
  margin-top: 1%;
  }
  .navbar-signup {
    overflow: hidden;
    height: 50px;
    background-color: rgb(232, 86, 86);
    }



  .nav-bar-login{
    height:40px;
    width:130px;
    border:1px solid black;
    float:right;
    font-size:20px;
    margin-right:.7%;
    margin-top:.28%;
    font-weight:bold;
    color:black;
    background-color:white;
  }











