.footer {
  min-height: 100px;
  background-color: #8ABAD3FF;
  position: relative;
}

.footer span {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 3px;
  background-color:pink;
  text-align: center;
}

.textAlt{
  font-size: 25px;
}